.carousel-container {
    display: flex;
    gap: 3rem;
    overflow: hidden; 
    position: relative;
    padding: 2rem;

    scrollbar-width: none;

    .carousel-row {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        justify-content: space-between;
        user-select: none;
        cursor: grab;
        
        &::-webkit-scrollbar {
            display: none;
        }

        &.active {
            cursor: grabbing;
        }
    }
}
