@font-face {
    font-family: 'Olympic Headline';
    src: url('./../../assets/fonts/OlympicHeadline-Regular.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Olympic Headline';
    src: url('./../../assets/fonts/OlympicHeadline-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Olympic Sans';
    src: url('./../../assets/fonts/OlympicSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Olympic Sans';
    src: url('./../../assets/fonts/OlympicSans-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Olympic Sans';
    src: url('./../../assets/fonts/OlympicSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Olympic Sans';
    src: url('./../../assets/fonts/OlympicSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Olympic Sans';
    src: url('./../../assets/fonts/OlympicSans-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Olympic Sans';
    src: url('./../../assets/fonts/OlympicSans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}